<footer class="bg-dark text-white mt-auto">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6">
        <h5><i class="fas fa-shop me-2"></i>Django Shop</h5>
        <p class="text-muted">A simple shop built with Django for learning purposes.</p>
      </div>

      <div class="col-md-3">
        <h6>Quick Links</h6>
        <ul class="list-unstyled">
          <li><a href="" class="text-white-50 text-decoration-none">Home</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h6>Follow Us</h6>
        <div>
          <a href="#" class="text-white-50 me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white-50 me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white-50 me-3"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white-50"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>

    <hr class="my-3">

    <div class="row">
      <div class="col-12 text-center">
        <p class="text-white mb-0">
          &copy; 2025 Django Shop. Made with <i class="fas fa-heart text-danger"></i> by Students
        </p>
      </div>
    </div>
  </div>
</footer>
